.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

#cardContainer {
  overflow: hidden;
  min-height: fit-content;
  margin: 5px;
  background: #F4E9CD;
  color: #031926;
  min-width: 100%;
  text-align: center;
  align-items: center;
}
.fa{
  display: inline-block;
  padding: 2px;
  font-size: 30px;
  width: fit-content;
  text-align: center;
  text-decoration: none;
  justify-content: center;
  margin: 5px;
}

.fa-linkedin {
  background: transparent;
  color: #0E76A8;
}

.fa-github {
  color: white;
  background: transparent;
}

.fa-instagram {
  color: #8a3ab9;
  background: transparent;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
