header {
  width: 100%;
  margin: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: #333A44; */
  background-image: url("../src/pages/images/bg.svg");
  width: auto;
  height: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#containerBody{
  background-image: url("../src/pages/images/profileimg.jpg");
  margin: 5px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

nav{
  background-color: transparent;
  /* align-items: center; */
  height: 10%;
  color: white;
}
#nav-items li a{
  color: white;
  font-size: 1.3vw;
}

#bodyText{
  color: white;
  text-align: center;
  font-size: 1rem;
}

h2{
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1{
  color: white;
}

h5{
  
  color: white;
  margin: 8px;
}

#icons{
  text-align: center;
}

#resume {
  text-align: center;
  font-size: 3rem;
  color: red;
  font-family: 'League Script', cursive;
}

#contactContainer {
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  text-align: center;
}

#skillset {
  max-width: 60vw;
  height: auto;
  margin: auto;
  width: 50%;
  padding: 10px;
}

#profilePic {
  border-radius: 50%;
  height: auto;
  width: 30vw;
  border-radius: 50%;
  margin-top: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  box-shadow: rgba(0, 0, 0, 0.3) 4px 1px 20px 4px;
}

#p1{
  align-items: center;
  overflow:hidden;
  height: fit-content;
  width: 100%;
  background: radial-gradient(circle at bottom, grey 0, #031926 100%);
}

#p2 {
  align-items: center;
  overflow: hidden;
  border: 1px solid lightslategray;
  background: radial-gradient(circle at center, #0f1518 0, #789fb1 100%);
  /* min-width: 50vw;
  max-height: 50vh; */
  
}

#clearCard {
  /* opacity: .4; */
  /* margin-left: 800px;
  margin-right: 50px; */
  padding: 5px;
  margin: auto;
  color: white;
  justify-content: center;
  /* background-color: rgba(0,0,0,.5); */
}

.no-shadows{
  box-shadow: none;
}

.brand-logo{
  font-family: 'League Script', cursive !important;
  font-size: 2em !important;
  margin-top: 20px;
  font-weight:bold;
  align-self: center;
}

#p3{
  min-width: 50%;
  max-height: fit-content;
}

#name{
  color: white;
  font-size: larger;
}



#text-block{
  font-size:larger;
  position: absolute;
  bottom: 20px;
  left: 20px;
  background-color: black;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  opacity: .6;
  
}

input {
  width: 600px;
}

textarea {
  height: 10em;
  width: 600px;
}

/* #contactModal {
  animation-name: rotate;
  animation-duration: .5s;
  animation-iteration-count: 2s;
  animation-timing-function: linear;
} */
#offcanvasNavbarLabel{
  color: white;
}

footer {
  background: transparent;
  margin: auto;
  width: 50%;
  padding: 10px;
  color: white;
  text-align: center;
}

.fa{
  display: inline-block;
  padding: 2px;
  font-size: 30px;
  width: fit-content;
  text-align: center;
  text-decoration: none;
  justify-content: center;
  margin: 5px;
}

.fa-linkedin {
  background: transparent;
  color: #0E76A8;
}

.fa-github {
  color: white;
  background: transparent;
}

.fa-instagram {
  color: #8a3ab9;
  background: transparent;
}


